@import url("https://fonts.googleapis.com/css?family=Sintony&display=swap" rel="stylesheet");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/voiture.css");

@import url("components/card.css");

@import url("components/itinéraire.css");

@import url("components/flip.css");

body{
	font-family: 'Sintony', sans-serif;
	font-size: 18px;
	margin:0px;
	background-color:black;

}

h1,h2,h3,a{
	font-family: 'Sintony', serif;
	font-weight: bold;
}

a{
	text-decoration:none;
}

.mosaique{
	background-color: #556469;
}
